/*Page*/
*{
	margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

main
{
    max-width: 1200px;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul
{
    list-style-type: none;
}

/*Header*/
.section_header
{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

/* .menu
{
    display: flex;
} */

.header_nav
{
    margin-left: auto;
}

.header_nav a
{
    color: black;
    text-decoration: none;
}

.header_nav :hover
{
    color: #0065FC;
    border-top: 2px  #0065FC solid;
    padding-top: 35px;
}

.nav_link
{
    padding: 30px;
}

.sign_up
{
    margin-left: auto;
}

.sign_up a
{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
}



/*Section search*/
.section_search h1
{
    font-size: 1.4em;
    margin-top: 1em ;
    margin-bottom: 0.4em;
}

.search_area
{
    margin-top: 1em;
    display: flex;
}

.ico_map
{
    border: 1px #F2F2F2 solid;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #F2F2F2;
    padding: 0.8em;
}

.search_line
{
    border-right: none;
    border-left: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding: 0.7em 1em;
    width: 13em;
    font-size: 1em;
    font-weight: bold;
}

.search_button
{
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    border: 1px #0065FC solid;
    background-color: #0065FC;
    padding: 0.8em;
    color: white;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

.search_button i
{
    display: none;
}



.div_filters
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
}

.div_filters h2
{
    font-size: large;
}

.filters_bloc
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5em;
}

.filter_bubble a
{
    text-decoration: none;
    color: black;
}

.filter_bubble :hover
{
    font-style: italic;
    background-color: #DEEBFF;
}

.filter
{
    border: 2px #F2F2F2 solid;
    border-radius: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-right: 1em;
    margin-right: 1.5em;
}

.icon_circle
{
    background-color: #DEEBFF;
    border-radius:50%;
    width:3.1em;
    height:3.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7em;
}

.icon_circle :hover
{
    text-decoration: none;
    font-style: normal;
}

.icon_img
{
    color: #0065FC;
}



.info_div
{
    display: flex;
    margin-top: 2em;
}

.info_circle
{
    background-color: white;
    border: 1px #F2F2F2 solid;
    border-radius:50%;
    width:1.1em;
    height:1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7em;
}


/*Main*/



/*Section lodging*/
#section_lodging
{
    background-color:#F2F2F2;
    border-radius: 12px;
    margin-top: 2em;
    width: 750px;
}

#section_lodging h1
{
    padding-top: 1.5em;
    padding-left: 1.5em;
}

.lodging_bloc
{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-left: 0.5em;
}

.lodging_bloc a
{
    text-decoration: none;
    color: black;
}

.lodging_card
{
    border: 1px white solid;
    border-radius: 12px;
    box-shadow: 2px 1px 10px #afaeae;
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.lodging_card img
{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 185px;
    height: 90px;
    object-fit: cover;
}

.lodging_card h2
{
    font-size: 0.85em;
}

.lodging_card p
{
    font-size: 0.8em;
}

.stars
{
    display: flex;
}

.blue_stars
{
    color: #0065FC;
}

.grey_stars
{
    color: rgba(168, 161, 163, 0.329);
}

.show_more
{
    padding-bottom: 1.5em;
    padding-left: 1.8em;
    font-weight: bold;
}

.show_more a
{
    text-decoration: none;
    color: black;
}

    

/*Section aside*/
.section_aside
{
    background-color:#F2F2F2;
    border-radius: 12px;
    margin-top: 2em;
    width: 410px;
}

.aside_head 
{
    padding-top: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside_bloc
{
    padding: 1em;
}

.aside_bloc a
{
    text-decoration: none;
    color: black;
}

.aside_card
{
    border: 1px white solid;
    border-radius: 12px;
    box-shadow: 2px 1px 10px #afaeae;
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    margin-bottom: 32px;
    display: flex;
}

.aside_card img
{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-right: 0.9em;
}

.aside_card h2
{
    font-size: 0.85em;
}

.description
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/*Section activities*/
#section_activities
{
    width: 100%;
}

#section_activities h1
{
    padding-top: 2em;
    padding-bottom: 1em;
}

.activities_bloc
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.activities_bloc a
{
    color: black;
}

.activities_bloc p
{
    padding: 1em;
    font-size: 0.9em;
}

.two_activities
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity_big , .activity_medium , .activity_little
{
    position: relative;
}

.activity_big img
{
    width: 275px;
    height: 365px;
    object-fit: cover; 
    border-radius: 12px;
    box-shadow: 1px 4px 6px rgb(236, 236, 236);
    position: relative;
}

.activity_medium img
{
    width: 275px;
    height: 190px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 1px 4px 6px rgb(236, 236, 236); 
    position: relative;
}

.activity_little img
{
    width: 275px;
    height: 145px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 1px 4px 6px rgb(236, 236, 236);
    position: relative;
}

.activity_title
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 4px 6px rgb(236, 236, 236);
}


/*Footer*/
.section_footer
{
    background-color:#F2F2F2;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 2em 0;
    display: flex;
    justify-content: center;
}

.footer_bloc
{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer_element h3
{
    font-size: 1em;
    padding-bottom: 1em;
}

.footer_element li
{
    padding-bottom: 0.9em;
}










@media all and (max-width: 1200px)
{
    main
    {
        max-width: 1100px;
        margin: auto; 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #section_lodging
    {
        width: 100%;
    }

    .lodging_card img
    {
        width: 300px;
        height: 110px;
    }

    .section_aside
    {
        width: 100%;
    }

    .aside_head 
    {
        padding: 36px 32px;
        display: flex;
        justify-content: space-between;
    }

    .aside_bloc
    {
        display: flex;
    }

    .aside_card
    {
        width: 305px;
    }

    .aside_card img
    {
        width: 150px;
        height: 150px;
    }

    .activity_big img , .activity_medium img , .activity_little img
    {
        width: 255px;
    }

    .footer_bloc
    {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
}









@media all and (max-width: 1160px)
{
    #section_lodging
    {
        width: 100%;
    }




} 








@media all and (max-width: 576px)
{
	
    
    
    /* .header
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0px;
    }

    .menu
    {
        display: flex;
    }

    .register
   {
       padding-top: 15px;
       padding-left: 0;
   }

    .nav
    {
        padding-top: 40px;
        display: flex;
    }

    .nav a
    {
        border-bottom: 3px solid #F2F2F2;
    }

    .nav :hover
    {
        border-bottom: 2px  #0065FC solid;
        border-top: none;     
    }
     */

    
    
    /* .search_section
    {
        margin: 30px;
    }

    .search_button
    {
        border-radius: 16px;
    }

    .rechercher
    {
        display: none;
    }

    .search_button i
    {
        display: inline;
    }

        
    .filters_div
    {
        display: flex;
        
        justify-content: flex-start;
    }
    
    .filters_div h2
    {
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .filter1 , .filter3
    {
        margin-bottom: 10px;
    }

    .info_div
    {
        margin-left: 5px;
    }

    
    main
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section_accommodation:nth-child(1)
    {
        order: 2;
    }

    .aside_most_popular:nth-child(2)
    {
        order: 1;
    }

    .section_activities:nth-child(3)
    {
        order: 3;
    }

    
    .aside_most_popular
    {
        border-radius: 0px;
        width: 100%;
        
    }

    .accommodation_popular_card
    {
        padding: 0.5em;
        margin: 1em;
    }

    .accommodation_popular_card img
    {
        width: 150px;
        height: 150px;
        padding-right: 0.9em;
    }

    .description p
    {
        padding-top: 0.5em;
        margin-bottom: 3em;
        font-size: 0.8em;
    }
    
    
    #section_accommodation
    {
        background-color: white;
        margin-top: 2em;
        margin: 30px;
    }
   
    #section_accommodation h1
    {
        padding: 48px 0 24px;
    }

    .bloc_accommodation
    {
        margin: 0;
        padding: 0;
    }

    .accommodation_card
    {
        margin: 1.5em 0 0 0;
    }
    
    .accommodation_card img
    {
        width: 350px;
        height: 150px;
    }

    .show_more
    {
        padding: 1.5em 0 0 0;
        font-weight: bold;
    } */

   
    /* #section_activities
    {
        margin: 30px;
    }

    .bloc_activities img
    {
        width: 350px;
        height: 200px;
        position: relative;
    }

    .port
    {
        position: relative;
        margin: 1.5em 0 0 0;
    }
    
    .fort
    {
        position: relative;
        margin: 1.5em 0 1.5em 0;
    }
    
    .iles
    {
        position: relative;
        margin: 1.5em 0 0 0;
    }
    
    .calanques
    {
        position: relative;
        margin: 1.5em 0 0 0;
    }
    
    .notre_dame
    {
        position: relative;
        margin: 1.5em 0 1.5em 0;
    }

    .parc
    {
        position: relative;
        margin: 1.5em 0 1.5em 0;
    }
    
   
    .footer
    {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .part_footer
    {
        padding-right: 0;
    }

    .footer h3
    {
        padding-top: 1em;
    }

    .footer li
    {
        padding-bottom: 0.5em;
    }
     */
    

}


   

